.row {
    text-align: center;
    margin: 5px;
}

.number {
    margin: 10px;
    text-align: center;
}

.numBox { 
    text-align:  center;
    font-size: 30px;
}

.border {
    border-style: solid;
    border-color: red;
}

